<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="gui" class="catalogcomponent.GUI" init-method="showGui">
        <property name="uniTree" ref="uniTree"/>
        <property name="actionHandler" ref="actionHandler"/>
    </bean>

    <bean id="actionHandler" class="catalogcomponent.ActionHandler">
        <property name="uniTree" ref="uniTree"/>
    </bean>

    <bean id="uniTree" class="catalogcomponent.UniTree"/>

    <bean id="catalogDAO" class="catalogcomponent.dataaccess.CatalogDAO">
        <constructor-arg ref="jdbcTemplate"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.sqlite.JDBC"/>
        <property name="url" value="jdbc:sqlite:database\\database.db"/>
        <property name="username" value=""/>
        <property name="password" value=""/>
    </bean>

</beans>